<div class="container">
    <mat-card-title>Book Detail</mat-card-title>

    <div class="sub-container">

        <mat-card-subtitle>Book ID: </mat-card-subtitle>
        <mat-card-content>{{book?.id}}</mat-card-content>



        <mat-card-subtitle>Title: </mat-card-subtitle>
        <mat-card-content>{{book?.title}}</mat-card-content>



        <mat-card-subtitle>Author: </mat-card-subtitle>
        <mat-card-content>{{book?.author}}</mat-card-content>



        <mat-card-subtitle>Number Book: </mat-card-subtitle>
        <mat-card-content>{{book?.number}}</mat-card-content>



        <mat-card-subtitle>Date: </mat-card-subtitle>
        <mat-card-content>{{book?.date | date}}</mat-card-content>
        <button mat-button color="warn" (click)="buttonBack()">Back to the list</button>

    </div>
</div>