<div class="container">

    <h1>Edit Book</h1>
    <br><br>
    <form [formGroup]="bookForm" (ngSubmit)="formSubmit()" class="book-edit-container">

        <mat-form-field>
            <input matInput type="text" maxlength="20" placeholder="Title" formControlName="title">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" maxlength="20" placeholder="Author" formControlName="author">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="number" placeholder="Number Book" formControlName="number">
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
        </mat-form-field>



        <button mat-button color="warn" type="submit">Save</button>
    </form>

    <button mat-button color="warn" (click)="buttonBack()">Back to the list</button>
</div>